hello account
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>
<p>Name: {{user.displayName}}</p>
<p>Gender: {{user.gender}}</p>

{{#each photos}}
  <img src="{{url}}" class="img-responsive" class="img hashtag-img">
  <p>{{caption}}</p>
{{/each}}



<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '404976449673369',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));


 </script>


