<div class="jumbotron" id="homejumbotron">

<div class="container">

<a>{{user}}</a>

  <h1>Hello {{user.displayName}}, AKA <a target="_blank" href="https://facebook.com/{{user.username}}">@{{user.username}}!</a></h1>

<img src="{{cover.source}}">  

</div>
</div>

<a class="btn btn-danger" id="logoutbutton" href="/" role="button">Logout</a>